hypr/.config/hypr/wallpaper_effects/.wallpaper_current

hypr/.config/hypr/wallust/wallust-hyprland.conf

rofi/.config/rofi/.current_wallpaper

rofi/.config/rofi/wallust/colors-rofi.rasi

waybar/.config/waybar/wallust/colors-waybar.css

mpv/.config/mpv/mpvHistory.log

# Don't push wallpaper and other image files
*.jpg
*.png
*.gif

# Configs that are constantly getting updated by hyde/scripts
hyde/.config/Kvantum/wallbash/wallbash.kvconfig
hyde/.config/Kvantum/wallbash/wallbash.svg
hyde/.config/dunst/dunstrc
hyde/.config/dunst/icons/hyprdots.svg
hyde/.config/dunst/icons/vol/muted-mic.svg
hyde/.config/dunst/icons/vol/muted-speaker.svg
hyde/.config/dunst/icons/vol/unmuted-mic.svg
hyde/.config/dunst/icons/vol/unmuted-speaker.svg
hyde/.config/dunst/icons/vol/vol-0.svg
hyde/.config/dunst/icons/vol/vol-10.svg
hyde/.config/dunst/icons/vol/vol-100.svg
hyde/.config/dunst/icons/vol/vol-15.svg
hyde/.config/dunst/icons/vol/vol-20.svg
hyde/.config/dunst/icons/vol/vol-25.svg
hyde/.config/dunst/icons/vol/vol-30.svg
hyde/.config/dunst/icons/vol/vol-35.svg
hyde/.config/dunst/icons/vol/vol-40.svg
hyde/.config/dunst/icons/vol/vol-45.svg
hyde/.config/dunst/icons/vol/vol-5.svg
hyde/.config/dunst/icons/vol/vol-50.svg
hyde/.config/dunst/icons/vol/vol-55.svg
hyde/.config/dunst/icons/vol/vol-60.svg
hyde/.config/dunst/icons/vol/vol-65.svg
hyde/.config/dunst/icons/vol/vol-70.svg
hyde/.config/dunst/icons/vol/vol-75.svg
hyde/.config/dunst/icons/vol/vol-80.svg
hyde/.config/dunst/icons/vol/vol-85.svg
hyde/.config/dunst/icons/vol/vol-90.svg
hyde/.config/dunst/icons/vol/vol-95.svg
hyde/.config/dunst/wallbash.conf
hyde/.config/gtk-3.0/settings.ini
hyde/.config/hyde/hyde.conf
wall.set
hyde/.config/hypr/themes/colors.conf
hyde/.config/hypr/themes/theme.conf
hyde/.config/kitty/theme.conf
hyde/.config/qt5ct/colors.conf
hyde/.config/qt5ct/qt5ct.conf
hyde/.config/qt6ct/colors.conf
hyde/.config/qt6ct/qt6ct.conf
hyde/.config/rofi/theme.rasi
hyde/.config/waybar/style.css
hyde/.config/waybar/theme.css
hyde/.config/waybar/config.jsonc
hyde/.themes/Wallbash-Gtk/gtk-3.0/gtk-dark.css
hyde/.themes/Wallbash-Gtk/gtk-3.0/gtk.css
hyde/.themes/Wallbash-Gtk/gtk-4.0/gtk-dark.css
hyde/.themes/Wallbash-Gtk/gtk-4.0/gtk.css
hyde/.themes/Catppuccin-Latte/metacity-1
hyde/.config/swappy/config

btop/.config/btop/btop.conf
btop/.config/btop/btop.log

todolist
tags
test.sh
.luarc.json

spell/
lazy-lock.json

yazi/.config/yazi/plugins/

nvim/.config/nvim/lua/ui/theme.lua
hyde/.config/waypaper/
niri/.config/niri/dms/colors.kdl
mpv/.config/mpv/playlists/
mpv/.config/mpv/persistent_config.json
hyde/.local/share/themes/Wallbash-Gtk/
